<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error <%=status%></h4>
            <p><%=message%></p>
            <p><%=err.stack%></p>
            <hr>
            <p class="mb-0">Contanct us <a href="https://example.com/">here</a> or go back <a href=http://localhost:3000/>home</a></p>
        </div>
    </div>
</div>
