<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstantStudy - Summary</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/summary.css">
</head>
<body>
    <div id="info-card">
        <h3 id="oneLine" class="info-item"><%=one_line%></h3>
        <span id="summary" class="info-item"><b>Summary: </b><%=summary%></span>
        <span id="text" class="info-item"><b>Complete text: </b><%=text%></span>
    </div>
</body>
</html>