
html {
  font-family: "Raleway", sans-serif;
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: visible;
}

#cards:hover {
  box-shadow: 5px 5px 5px 5px #87d4ff;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}

.submit{
  margin: 2.6rem 0rem;
  padding: 0.5rem 1.2rem;
  letter-spacing: 2px;
  border-radius: 1px;
  background: none;
  color: #ff2281;
  border: 2px solid;
  position: relative;
}

.submit button:hover {
  border-color: #b76cfd;
  color: #edd9ff;
  box-shadow: 0 0.7em 0.7em -0.3em #edd9ff;
  transform: translateY(-0.25em);
}